*{
    margin: 0;
    padding: 0;
}

.container{
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 220px;
    background-color: #dcdcdc;
}

.field{
    width: 90%;
    height: 50px;
    text-align: right;
    padding: 5px 10px;
    font-size: 1rem;
    margin-right: 5px;
    margin-bottom: 10px;
    /*background-color: #ffffff;*/
    /*border: 1px solid #dcdcdc;*/
}

#history{
    background-color: #ffffff;
    height: 50%;
    width: 95%;
    align-content: center;
    /*margin-right: 20px;*/
    color: #5D5F5D;
    padding-right: 10px;
}

#output{
    background-color: #ffffff;
    height: 50%;
    width: 95%;
    font-size: 1rem;
    padding-right: 10px;
}

.btn-opp {
    height: 30px;
    width: 30px;
    font-size: 1rem;
    margin: 0 5px 10px 8px;
    cursor: pointer;
}

.btn-num{
    height: 35px;
    width: 35px;
    font-size: 1rem;
    margin: 0 10px 20px 10px;
    cursor: pointer;
}

.number{
    margin-left: 17px;
}